h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Source Sans Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

p {
  font-weight: 400; }

del {
  background-color: rgba(197, 3, 3, 0.31); }

ins {
  background-color: rgba(22, 197, 3, 0.31); }

.replace {
  background-color: rgba(249, 255, 0, 0.71); }

.breadcrumb {
  padding: 15px 15px;
  margin-bottom: 0; }
