{% extends 'res/base.html' %}
{% load staticfiles %}

{% block page_title %}{{ committee.short_name }}{% endblock %}

{% block content %}
<div class="text-center">
    <h2>A Motion for a Resolution by The Committee on {{ full_name }}</h2>
    <p style="font-size: 20px">{{ committee.topic }}</p>
</div>
<div class="row">
    <div class="col-xs-3">
        <p><b>Submitted By:</b></p>
    </div>
    <div class="col-xs-9">
        <p>{{ committee.submitted_by }}</p>
    </div>
</div>

<a href="{% url 'res:resolution' committee.id %}" class="btn btn-primary">Download Resolution</a>

<h3>Introductory Clauses:</h3>
{% if ics %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Position</th>
        <th>Content</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for ic in ics %}
    <tr>
        <td>
            <form id="{{ ic.id }}" class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}" style="width: 100px; margin: 0px">
                {% csrf_token %}
                <input type="hidden" name="clause" value="{{ ic.id }}">
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" class="form-control" name="position" value="{{ ic.position }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </td>
        <td>{{ ic.latest_content|safe }}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'res:clause' ic.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <br>
            <form class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}" style="margin-top: 5px">
                {% csrf_token %}
                <input type="hidden" name="delete_type" value="clause">
                <input type="hidden" name="pk" value="{{ ic.pk }}">
                <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
        </td>
    </tr>
    {% endfor%}
    </tbody>
</table>
{% endif %}

<h3>Operative Clauses:</h3>
{% if subtopics %}
{% for sub in subtopics %}
{% if sub.position != 0 %}
<div class="row">
    <div class="col-xs-10">
        <form id="sub-{{ sub.id }}" class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}">
            {% csrf_token %}
            <input type="hidden" name="subtopic" value="{{ sub.id }}">
            <div class="form-group">
                <label for="pos" ><h4>{{ sub.name }}</h4></label>
                <div class="input-group">
                    <input id="pos" type="number" class="form-control" name="position" value="{{ sub.position }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-2 text-right">
        <form class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}" style="margin-top: 5px">
            {% csrf_token %}
            <input type="hidden" name="delete_type" value="subtopic">
            <input type="hidden" name="pk" value="{{ sub.id }}">
            <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        </form>
    </div>
</div>

{% else %}
<h4>{{ sub.name }}  <small>Position: {{ sub.position }}</small></h4>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Position</th>
        <th>Content</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for clause in sub.clauses %}
    <tr>
        <td>
            <form id="{{ clause.id }}" class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}" style="width: 100px; margin: 0px">
                {% csrf_token %}
                <input type="hidden" name="clause" value="{{ clause.id }}">
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" class="form-control" name="position" value="{{ clause.position }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </div>
                </div>
            </form>
        </td>
        <td>{{ clause.latest_content|safe }}</td>
        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'res:clause' clause.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <form class="form-inline" role="form" method="post" action="{% url 'res:committee' committee.id %}" style="margin-top: 5px">
                {% csrf_token %}
                <input type="hidden" name="delete_type" value="clause">
                <input type="hidden" name="pk" value="{{ clause.pk }}">
                <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endif %}

<br>
<br>
<br>
<br>


{% if clauseform %}
<h3>Add new Clause:</h3>
<form class="form-horizontal" role="form" method="post" action="{% url 'res:committee' committee.id %}">
    {% csrf_token %}
    {% for field in clauseform %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }} {{ field.errors }}</label>

        <div class="col-sm-10">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Add Clause</button>
        </div>
    </div>
</form>
{% endif %}

{% if subtopicform %}
<h3>Add new Subtopic:</h3>
<form class="form-horizontal" role="form" method="post" action="{% url 'res:committee' committee.id %}">
    {% csrf_token %}
    {% for field in subtopicform %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }} {{ field.errors }}</label>

        <div class="col-sm-10">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Add Subtopic</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}