{% extends 'res/base.html' %}
{% load staticfiles %}

{% block page_title %}{{ session.name }}{% endblock %}

{% block content %}

<a href="{% url 'res:resolution_booklet' session.pk %}" class="btn btn-primary">Download Resolution Booklet</a>

<br>
<br>

{% if committees %}
<div class="list-group">
    {% for committee in committees %}
    <a href="{% url 'res:committee' committee.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ committee.short_name }}</h4>
        <p class="list-group-item-text">{{ committee.topic }}</p>
    </a>
    {% endfor %}
</div>
{% else %}
<p>No sessions available..</p>
{% endif %}
{% endblock %}